@font-face {
  font-family: "OpenSans-Semibold";
  src: url("assets/fonts/OpenSans-Semibold/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("assets/fonts/Lato Regular/Lato Regular.ttf");
}

@font-face {
  font-family: "Su Regular";
  src: url("assets/fonts/Su Regular/Su Regular.ttf");
}

@font-face {
  font-family: "Su Bold";
  src: url("assets/fonts/Su Bold/Su Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/fonts/Montserrat-Regular/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("assets/fonts/Montserrat-Regular/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Georgia Italic";
  src: url("assets/fonts/Georgia Italic/Georgia Italic.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("assets/fonts/Montserrat-Regular/Montserrat-ExtraLight.ttf");
}